# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
.env
# next.js / build
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# production / misc
/coverage
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
Thumbs.db

# bundled portable node (if copied into the project)
/.node/
